.cardListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 600px) {
    .cardListContainer {
        justify-content: center;
    }

    .card {
        flex: 1 1 100%;
    }
}