.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.bookListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.cardListWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    justify-items: start;
}

@media (max-width: 600px) {
    .cardListWrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

